---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import GitHubIcon from "../components/icons/GitHub.astro";
import SocialLinks from "../components/SocialLinks.astro";
import Bento from "../components/Bento.astro";
import BriefCase from "../components/icons/BriefCase.astro";
---

<Layout
	title="Portfolio de Daniel Agudelo - Desarrollador y Programador Web"
	description="Desarrollador web full stack enfocado en el frontend con React, Nextjs, Astro, JavaScript, TypeScript, Nodejs, Postgres, SQL"
>
	<main class="px-4">
		<section class="w-full lg:w-[740px] mx-auto pt-44" id="sobreMi" data-section="sobreMi">
			<p>Web Developer</p>
			<h1 class="text-5xl font-bold flex gap-x-4 flex-row pb-4">
				Hey, soy Daniel
				<a
					href="https://www.linkedin.com/in/dan-agud/"
					target="_blank"
					class="flex items-center"
				>
					<Badge>Disponible para trabajar</Badge>
				</a>
			</h1>
			<h2 class="text-2xl text-slate-500 dark:text-[#B8B8B8]">
				Soy un <strong class="text-slate-900 dark:text-white"
					>desarrollador web Full Stack enfocado en el FrontEnd</strong
				> , estoy aquí para dar vida a ideas y <strong
					class="text-slate-900 dark:text-white"
					>crear experiencias digitales que dejen huella.</strong
				>
			</h2>
			<h2
				class="text-2xl text-slate-500 dark:text-[#B8B8B8] pt-4 md:w-[600px]"
			>
				<strong class="text-slate-900 dark:text-white text-balance"
					>¿Listo para llevar tu proyecto al siguiente nivel?</strong
				> ¡Hablemos de cómo podemos hacerlo juntos!
			</h2>
			<nav class="flex gap-x-4 pt-6">
				<SocialLinks href="https://www.linkedin.com/in/dan-agud/">
					<LinkedInIcon class="size-6" />
					LinkedIn
				</SocialLinks>
				<SocialLinks href="https://github.com/daniel-agudelo21">
					<GitHubIcon class="size-6" />
					GitHub
				</SocialLinks>
			</nav>
		</section>
		<section class="flex flex-col justify-center lg:items-center w-full  2xl:w-[1400px] mx-auto pt-24">
			
			<h2 class="flex gap-2 font-bold text-3xl md:justify-center items-center pb-6" id="proyectos" data-section="proyectos">
				<BriefCase class="size-8"/>
				Proyectos
			</h2>
			<Bento />
		</section>
	</main>
</Layout>
