---
import BentoItem from "./BentoItem.astro";
---

<section
    class="w-full grid grid-cols-10 auto-rows-[30rem] gap-4 mx-auto p-2 lg:px-20 lg:pt-10"
>
    <BentoItem class="col-span-10 md:col-span-5" title="Youtube clone"  href="https://github.com/daniel-agudelo21/youtubeClone">
        <div
            slot="image"
            class="hidden md:block absolute left-0 top-0 bottom-0 w-full h-full group-hover:scale-110 transition-scale duration-1000 ease-in-out opacity-90 -mt-40 bg-center bg-cover bg-no-repeat bg-blend-luminosity -z-10"
            style="background-image: url('/images/youtubeClone.webp');"
        >
        </div>
        <div
            slot="image"
            class="md:hidden absolute left-0 top-0 bottom-0 w-full h-full group-hover:scale-110 transition-scale duration-1000 ease-in-out opacity-50 -mt-40 bg-center bg-cover bg-no-repeat bg-blend-luminosity -z-10"
            style="background-image: url('/images/youtubeMobile.webp');"
        >
        </div>
        <p slot="content" class="max-w-xl">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem
            praesentium quod aspernatur laboriosam nobis quos deserunt quasi
            rerum dicta quibusdam illum dignissimos magnam nisi consequuntur
            cupiditate corrupti, aut illo! Animi.
        </p>
    </BentoItem>

    <BentoItem class="col-span-10 md:col-span-5" title="Ferreteria ROFE" href="https://pf-ferreteria.vercel.app/login">
        <div
            slot="image"
            class="absolute left-0 top-0 bottom-0 w-full h-full group-hover:scale-110 transition-scale duration-1000 ease-in-out opacity-90 -mt-40 bg-center bg-cover bg-no-repeat bg-blend-luminosity -z-10"
            style="background-image: url('/images/FerreteriaRofe.webp');"
        >
        </div>
        <p slot="content" class="max-w-xl">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem
            praesentium quod aspernatur laboriosam nobis quos deserunt quasi
            rerum dicta quibusdam illum dignissimos magnam nisi consequuntur
            cupiditate corrupti, aut illo! Animi.
        </p>
    </BentoItem>

    <BentoItem class="col-span-10 md:col-span-5" title="Countries" href="https://github.com/daniel-agudelo21/COUNTRIES-Proyecto-individual">
        <div
            slot="image"
            class="absolute left-0 top-0 bottom-0 w-full h-full group-hover:scale-110 transition-scale duration-1000 ease-in-out opacity-90 -mt-40 bg-center bg-cover bg-no-repeat bg-blend-luminosity -z-10"
            style="background-image: url('/images/CountriesPI.webp');"
        >
        </div>
        <p slot="content" class="max-w-xl">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem
            praesentium quod aspernatur laboriosam nobis quos deserunt quasi
            rerum dicta quibusdam illum dignissimos magnam nisi consequuntur
            cupiditate corrupti, aut illo! Animi.
        </p>
    </BentoItem>

    <BentoItem class="col-span-10 md:col-span-5" title="Rick & Morty" href="https://github.com/daniel-agudelo21/rick_and_morty">
        <div
            slot="image"
            class="absolute left-0 top-0 bottom-[100px] w-full h-full group-hover:scale-110 transition-scale duration-1000 ease-in-out opacity-90 -mt-40 bg-center bg-cover bg-no-repeat bg-blend-luminosity -z-10"
            style="background-image: url('/images/rick&morty2.webp');"
        >
        </div>
        <p slot="content" class="max-w-xl">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem
            praesentium quod aspernatur laboriosam nobis quos deserunt quasi
            rerum dicta quibusdam illum dignissimos magnam nisi consequuntur
            cupiditate corrupti, aut illo! Animi.
        </p>
    </BentoItem>
</section>
