<header class="flex  justify-between items-center py-5 lg:w-[1120px] md:mx-auto w-full x ">
    <img class=" rounded-full size-14 text-red-500" {} src="../../images/logoCurvo.svg" alt="Daniel logo" />
    <nav class="flex flex-row gap-4 md:gap-x-10 opacity-50">
        <a href="/">Inicio</a>
        <a href="/projects">Proyectos</a>
        <a href="/about">Sobre mi</a>
        <a href="/contact">Contacto</a>
    </nav>
</header>
